## removeIf(production)

## endRemoveIf(production)


#@commonHtmlBase()
  <div class="grid">
    <img src="${ctx.logoImage.url}" alt="Birman" width="196" height="49" border="0"  title="" />
    <button class="button">botão</button>
  </div>
  <img src="${ctx.logoImage.url}" />
#end
