.container {
  width: 100%;
  max-width: 600px;
  text-align: left;
}

/*
  Then, to appease Apple Mail, which doesn’t respect max-width, create a media
  query to limit that table’s size on desktop:
*/
@media screen and (min-width: 601px) {
  .container {
    width: 600px !important;
  }
}

.container-fixed {
  width: 600px;
}

.body {
  width: 100% !important;
  /* necessary for outlook */
  min-width: 100%;
}
